body{
    background-color: rgb(223, 116, 116);
}


header{
    background-color: pink;
    text-align: center;
    padding: 5vh 0;
}

.container{
    background-color: green;
    width: 1120px;
    padding: 0 10px;
    margin: 0 auto;
    height: 80vh;
}


footer{
    background-color: pink;
    height: 10vh;
}


/* the grid controller */
.grid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: no-wrap;
}

.grid > div {
    background-color: pink;
    border: 5px solid black;
    width: 60%;
}


/* hiding content */

#signedInContent {
    display: none;
}